*{
  margin:0;
  padding: 0;
}

body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}